@* <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - KPI_UI</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/KPI_UI.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">KPI_UI</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2024 - KPI_UI - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
 *@


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Survey System</title>
    <style>
        body {
            font-family: 'Arial', sans-serif;
            background-color: #E0EFF6;
            margin: 0;
            padding: 0;
        }

        #head {
            max-width: 840px;
            margin: 20px auto;
            background-color: #07283B;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            text-align: center;
        }

        #survey-system {
            max-width: 800px;
            margin: 0px auto;
            padding: 0px 20px;
            background-color: #FFFFFF;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        }

        #add-row {
            background-color: #666666;
            color: #fff;
        }

        h1, h2 {
            color: #E2F3F6;
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        h2 {
            background-color: #EFEFEF;
            padding: 10px;
            margin-bottom: 20px;
        }

        label {
            display: inline-block;
            flex-direction: column;
            align-items: center;
            margin-bottom: 8px;
        }

        input[type="text"], input[type="radio"], button {
            margin-bottom: 10px;
        }

        button {
            background-color: #354052;
            color: #fff;
            padding: 10px;
            border: none;
            cursor: pointer;
        }

            button:hover {
                background-color: #2A3847;
            }

        table {
            width: 100%;
            margin-top: 20px;
            border-collapse: collapse;
        }

        th, td {
            padding: 10px;
            border: 1px solid #ddd;
            text-align: left;
        }

        th {
            background-color: #354052;
            color: #B5BBCB;
        }

        tr:nth-child(even) {
            background-color: #f9f9f9;
        }

        #total-row {
            color: black;
            align-items: flex-end;
            flex-direction: column;
            display: flex;
        }
    </style>
</head>
<body>
    @RenderBody()
</body>
